#title{
  position: relative;
  top: 100px;
  background-color: aqua;
}
#logo{
  position: relative;
  height: 390px;
  left: 458px;
  top: 40px;
  box-shadow: 42px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);

}
#btn{
  position: relative;
  top: 200px;
  left: 200px;
}